In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

#### Inicializamos Dataset

In [2]:
df_air = pd.read_csv("Air_Quality.csv")
df_air.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN

#### Describimos el Dataset

In [3]:
df_air.shape

(18025, 12)

In [4]:
df_air.describe()

           Unique ID  Indicator ID   Geo Join ID    Data Value  Message
count   18025.000000  18025.000000  1.801600e+04  18025.000000      0.0
mean   426387.692705    434.830180  5.906303e+05     21.428616      NaN
std    250489.450630    115.852371  7.769549e+06     23.999345      NaN
min    121644.000000    365.000000  1.000000e+00      0.000000      NaN
25%    175303.000000    365.000000  2.020000e+02      8.900000      NaN
50%    410803.000000    375.000000  3.030000e+02     15.200000      NaN
75%    649893.000000    386.000000  4.040000e+02     26.700000      NaN
max    828353.000000    661.000000  1.051061e+08    424.700000      NaN

In [5]:
df_air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB

In [6]:
#Visualizando catidad de datos nulos en columna["Message"]
df_air[df_air["Message"].notnull()]

Empty DataFrame
Columns: [Unique ID, Indicator ID, Name, Measure, Measure Info, Geo Type Name, Geo Join ID, Geo Place Name, Time Period, Start_Date, Data Value, Message]
Index: []

#### Tratamiento del Dataset
* Tratamiento de la columna [Message]

In [7]:
df_1 = df_air.copy()
df_1.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN

In [8]:
df_1_drop = df_1.drop(columns = "Message")
df_1_drop.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1

#### Tratamiento de la columna [Start_Date]

In [9]:
df_2 = df_1_drop.copy()
df_2.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1

In [10]:
df_2["Start_Date"] = pd.to_datetime(df_2["Start_Date"], format = "%m/%d/%Y")
df_2.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,2015-01-01,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,2011-12-01,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,2022-06-01,6.1

In [11]:
#Modificando el nombre en la columna
df_2 = df_2.rename(columns = {"Start_Date":"Start Date"})
df_2.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,2015-01-01,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,2011-12-01,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,2022-06-01,6.1

In [12]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start Date      18025 non-null  datetime64[ns]
 10  Data Value      18025 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(6)
memory usage: 1.5+ MB

#### Tratamiento de la columna 6

In [13]:
df_3 = df_2.copy()
df_3.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,2015-01-01,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,2011-12-01,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,2022-06-01,6.1

In [14]:
df_3_Drp =df_3.dropna()
df_3_Drp.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,2015-01-01,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,2011-12-01,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,2022-06-01,6.1

In [15]:
df_3_Drp.shape

(18016, 11)

In [16]:
df_3_Drp[df_3_Drp["Geo Join ID"].isnull()]

Empty DataFrame
Columns: [Unique ID, Indicator ID, Name, Measure, Measure Info, Geo Type Name, Geo Join ID, Geo Place Name, Time Period, Start Date, Data Value]
Index: []

In [17]:
df_3_Drp["Geo Join ID"] = df_3_Drp["Geo Join ID"].astype(int)
df_3_Drp.head()

C:\Users\lacar\AppData\Local\Temp\ipykernel_3040\4109797267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3_Drp["Geo Join ID"] = df_3_Drp["Geo Join ID"].astype(int)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409,Southeast Queens,2015,2015-01-01,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Annual Average 2012,2011-12-01,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Summer 2022,2022-06-01,6.1

In [18]:
df_3_Drp["Geo Join ID"].info()

<class 'pandas.core.series.Series'>
Index: 18016 entries, 0 to 18024
Series name: Geo Join ID
Non-Null Count  Dtype
--------------  -----
18016 non-null  int32
dtypes: int32(1)
memory usage: 211.1 KB

In [19]:
df_3_Drp["Geo Join ID"].nunique()

72

#### Trabajando con la columna Start Date

* Vamos a crear una nueva columna con el año
* Ordenaremos de menor a mayor

In [20]:
df_4 = df_3_Drp.copy()
df_4.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409,Southeast Queens,2015,2015-01-01,0.3
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Annual Average 2012,2011-12-01,8.0
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Summer 2022,2022-06-01,6.1

In [21]:
df_4["year"] = df_4["Start Date"].dt.year
df_4

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value,year
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409,Southeast Queens,2015,2015-01-01,0.3,2015
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2,2015
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6,2011
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Annual Average 2012,2011-12-01,8.0,2011
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Summer 2022,2022-06-01,6.1,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
18020,816914,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503,Tottenville and Great Kills (CD3),2019,2019-01-01,12.9,2019
18021,816913,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503,Tottenville and Great Kills (CD3),2010,2010-01-01,14.7,2010
18022,816872,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,208,Canarsie - Flatlands,2010,2010-01-01,43.4,2010
18023,816832,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407,Southwest Queens,2010,2010-01-01,65.8,2010
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408,Jamaica,2005,2005-01-01,41.0,2005

In [22]:
df_4["year"].unique()

array([2015, 2011, 2022, 2012, 2013, 2021, 2017, 2009, 2016, 2010, 2014,
       2018, 2008, 2020, 2019, 2005])

In [23]:
#Ordenando datos en columna ["year"]
df_4.sort_values(by= "year", ascending= False)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value,year
4099,827121,386,Ozone (O3),Mean,ppb,UHF42,305,Upper East Side,Summer 2022,2022-06-01,30.8,2022
16722,827007,386,Ozone (O3),Mean,ppb,CD,318,Flatlands and Canarsie (CD18),Summer 2022,2022-06-01,36.2,2022
7744,823193,365,Fine particles (PM 2.5),Mean,mcg/m3,CD,111,East Harlem (CD11),Summer 2022,2022-06-01,7.1,2022
16712,823222,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,407,Southwest Queens,Annual Average 2022,2022-01-01,5.5,2022
16718,826361,375,Nitrogen dioxide (NO2),Mean,ppb,CD,404,Elmhurst and Corona (CD4),Annual Average 2022,2022-01-01,16.4,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
9930,131152,655,Asthma hospitalizations due to Ozone,Estimated annual rate (under age 18),"per 100,000 children",UHF42,402,West Queens,2005-2007,2005-01-01,11.7,2005
12464,130713,646,Outdoor Air Toxics - Benzene,Annual average concentration,Âµg/m3,UHF42,401,Long Island City - Astoria,2005,2005-01-01,2.7,2005
9919,131240,657,Asthma emergency department visits due to PM2.5,Estimated annual rate (age 18+),"per 100,000 adults",UHF42,304,Upper West Side,2005-2007,2005-01-01,32.3,2005
9918,131266,657,Asthma emergency department visits due to PM2.5,Estimated annual rate (age 18+),"per 100,000 adults",Borough,5,Staten Island,2005-2007,2005-01-01,29.6,2005
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408,Jamaica,2005,2005-01-01,41.0,2005

#### Analisis estadisticos (Columnas numericas)

In [24]:
df_5 = df_4.copy()
df_5.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start Date,Data Value,year
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409,Southeast Queens,2015,2015-01-01,0.3,2015
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209,Bensonhurst - Bay Ridge,2015,2015-01-01,1.2,2015
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209,Bensonhurst - Bay Ridge,Annual Average 2012,2011-12-01,8.6,2011
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Annual Average 2012,2011-12-01,8.0,2011
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409,Southeast Queens,Summer 2022,2022-06-01,6.1,2022

In [25]:
df_5["Indicator ID"].describe().reset_index()

   index  Indicator ID
0  count  18016.000000
1   mean    434.720748
2    std    115.777767
3    min    365.000000
4    25%    365.000000
5    50%    375.000000
6    75%    386.000000
7    max    661.000000

In [26]:
df_5["Data Value"].describe().reset_index()

   index    Data Value
0  count  18016.000000
1   mean     21.412678
2    std     23.976151
3    min      0.000000
4    25%      8.900000
5    50%     15.200000
6    75%     26.700000
7    max    424.700000

In [27]:
df_5["Geo Join ID"].describe().reset_index()

   index   Geo Join ID
0  count  1.801600e+04
1   mean  5.906303e+05
2    std  7.769549e+06
3    min  1.000000e+00
4    25%  2.020000e+02
5    50%  3.030000e+02
6    75%  4.040000e+02
7    max  1.051061e+08